@import "tailwindcss";
@import "@nuxt/ui";

@import '../scss/themes/_fonts';
@import '../scss/themes/_theme';

@theme {
    --font-sans: var(--mg-font-body);
    --font-montserrat: var(--mg-headline-font-family);
    --velocity-cyan: #00E5FF;
}

:root {
    --ui-primary: var(--mg-color-primary);
    --ui-secondary: var(--mg-color-secondary);
    --ui-tertiary: var(--mg-color-tertiary);
    --ui-neutral: var(--mg-color-neutral);

    --ui-error: var(--mg-color-error);
}
